body{
    margin: auto;
}
a{
    text-decoration: none;
    color: white !important;
}


/* CSS for header*/
header{
    height: 60px;
    /* border: 1px solid red; */
    background-color: #3b2632;
}
#brand{
    color: white;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    font-size: 30px;
}
#loginbtn{
    float: right;
    margin-top: 1%;
    margin-right: 2%;
}

/* CSS for Search */
#search{
    height: 450px;
    /* border: 1px solid olive; */
    background-image: url(./images/foodWallpaper.png);
    background-size: 100% 450px;
    min-height: 450px;
    position: relative;
}
#logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    font-size: 60px;
    text-align: center;
    background-color: white;
    position: relative;
    top: 8%;
    margin-left: 45%;
}
#logo span{
    margin-left: -18%;
    margin-top: 23%;
    position: absolute;
}
#heading{
    position: relative;
    top: 15%;
    margin-left: 23%;
    color: white;
    font-size: 50px;
}
#dropDown{
    position: relative;
    top: 25%;
    margin-left: 20%;
    
}
select{
    width: 40%;
    height: 40px;
    font-size: 15px;
}

.search{
    /* margin-left: 50%;
    text-align: center; */
}

/*CSS for quickSearch */

#quickSearch{
    min-height: 500px;
    /* border: 1px solid green; */
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
} 
#quickHeading{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: block;
    color:  #3b2632;
    margin-left: 2%;
}
#quicksubHeading{
    font-size:20px;
    color: gray;
    line-height: 2;
    margin-left: 2%;
    position: absolute;
}
.tilecontainer{
    height: 180px;
    width: 30%;
    border: 1px solid red;
    display: inline-block;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 1%;
    box-shadow: 10px 20px 10px gray;
}
.tilecomponant1{
    width: 52%;
    float: left;
}
.tilecomponant1 > img{
    width: 100%;
    height: 180px;
}
.tilecomponant2{
    width: 45%;
    float: left;
    margin-left: 3%;
    margin-top: 12%;
}
.tilecomponant2 a{
    color: #3b2632 !important;
    font-weight: bold;
}
.tileHeading{
    font-size: 25px;
    color: #3b2632 !important;
}
.tileSubHeading{
    font-size: 20px;
    color: gray;
}


/* CSS for footer*/
footer{
    height: 100px;
    background-color: #3b2632;
}
.footerHeading{
    font-size: 30px;
    text-align: center;
    color: white;
}
.footerList{
    display: inline-block;
    border-right: 2px solid black;
    width: 31%;
    text-align: center;
    
}

  

.footerList ul{
    list-style: none;
}